.profilefetchById {
  margin: 0.4rem;
  .profilefetchById_container {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    img {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      object-fit: cover;
    }
    .profilefetchById_name {
      line-height: 1;
      p {
        font-size: 1.15rem;
      }
      p:nth-child(2) {
        color: #808080d3;
        font-size: 1.1rem;
      }
    }
    button {
      padding: 6px 14px;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.568);
      margin-left: auto;
      border-radius: 3px;
      cursor: pointer;
    }
    .jwfhjcwedw {
      background-color: #0095f6;
      color: white;
      border: none;
      padding: 6px 1.1rem;
      font-size: 1.1rem;
    }
  }
}
