.singleMainComp {
  margin: 2rem 0;
  width: 100%;
  height: 90vh;
  border: 1px solid #474747;
  .singleMainComp_top {
    height: 10%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .singleMainComp_profile_n_logo {
      display: flex;
      align-items: center;
      img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
      p {
        font-size: 1.3rem;
        margin-left: 0.8rem;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .singleMainComp_t_dot {
      display: grid;
      place-items: center;
      cursor: pointer;
    }
  }
  .singleMainComp_media_file {
    height: 70%;
    padding: 1px 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .singleMainComp_activity {
    height: 20%;
    width: 95%;
    margin: 0 auto;
    .singleMainComp_activity_icons {
      height: 20%;
      display: flex;
      justify-content: space-between;
      padding-top: 3px;
      .singleMainComp_activity_iconr {
        font-size: 1.7rem;
        margin: 0 0.3rem;
      }
      .sss {
        margin: 0;
      }
    }
    .singleMainComp_description {
      .user_namesmc {
        font-weight: 600;
        margin-right: 0.5rem;
      }
    }
    .singleMainComp_description_time {
      margin-top: 4px;
      font-size: 0.9rem;
    }
  }
}
