.singleMainComp {
  margin: 2rem 0;
  width: 100%;
  // height: 90vh;
  border: 1px solid #474747;
  .singleMainComp_top {
    width: 95%;
    margin: 0.4rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .singleMainComp_profile_n_logo {
      display: flex;
      align-items: center;
      img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
      p {
        font-size: 1.3rem;
        margin-left: 0.8rem;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .singleMainComp_t_dot {
      display: grid;
      place-items: center;
      cursor: pointer;
    }
  }
  .singleMainComp_media_file {
    height: 70vh;
    padding: 1px 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .singleMainComp_activity {
    // width: 95%;
    margin: 0 auto;
    .singleMainComp_activity_icons {
      display: flex;
      justify-content: space-between;
      padding-top: 3px;
      .singleMainComp_activity_iconr {
        font-size: 1.7rem;
        margin: 0 0.3rem;
      }
      .sss {
        margin: 0;
      }
    }
    .singleMainComp_l_count {
      padding: 0 0.4rem;
    }
    .singleMainComp_description {
      padding: 0 0.4rem;
      .user_namesmc {
        font-weight: 600;
        margin-right: 0.5rem;
      }
    }
    .view_comment_count {
      // background-color: #0095f6;
      padding: 2px 0.3rem;
      color: darkgray;
    }
    .singleMainComp_description_time {
      margin: 4px;
      font-size: 0.9rem;
    }
    .display_comment {
      display: flex;
      gap: 0.3rem;
      align-items: center;
      padding: 0 0.3rem;
      .comment_user_name {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
    .add_comment {
      padding: 0.5rem 0;
      border-top: 1px solid #00000018;
      display: flex;
      align-items: center;
      margin-top: 0.3rem;
      .add_icon {
        margin: 0 4px;
      }
      form {
        width: 100%;
        display: flex;
        align-items: center;
        input {
          width: 100%;
          height: 2rem;
          border: none;
          outline: none;
          font-size: 1.05rem;
        }
        button {
          cursor: pointer;
          font-size: 1.1rem;
          padding: 0 10px;
          color: #0095f6;
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
    }
  }
}
