.navbar {
  height: 3.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
}

.container {
  height: 100%;
  width: 71%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin-top: 8px;
    img {
      height: 2.5rem;
    }
  }
  .search {
    input {
      padding: 0 2rem;
      height: 2.1rem;
      width: 13rem;
      outline: none;
      &::placeholder {
        font-size: medium;
        text-align: center;
      }
    }
  }
  .icons {
    display: flex;
    .icon {
      cursor: pointer;
      font-size: 2rem;
      margin: 0 0.7rem;
    }
  }
  .login_nav {
    background-color: #0095f6;
    padding: 6px 1rem;
    border: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 4px;
    cursor: pointer;
  }
}
.add_post_comp {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  overflow-y: hidden;
  .close_post_model {
    margin: 0.7rem;
    color: white;
    float: right;
    cursor: pointer;
  }
  .post_com_call {
    height: 80vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
}
.weiofhjdc {
  align-items: center;
  display: flex;
  gap: 0.8rem;
  div {
    width: max-content;
    color: #0389e2;
  }
}
